@charset "utf-8";

/* content */
html {
  display: table;
  height: 100%;
  margin: 0 auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  min-height: 100%;
  margin: 0 auto;
  background-color: #f4f4f4;
  font-family: "Exo", sans-serif;
}

nav {
  position: relative;
  top: 25px;
}

nav > a {
  text-decoration: none;
}

.btn {
  display: block;
  width: 250px;
  margin: 8px;
  color: #222;
  font-size: 30px;
  box-shadow: 1px 1px 2px #999;
  -webkit-box-shadow: 1px 1px 2px #999;
}

.modal-window:target {
  display: block;
  animation: fade-in 0.5s ease-out;
  -webkit-animation: fade-in 0.5s ease-out;
}

.modal-text {
  padding: 20px;
  text-align: left;
}

.modal-close:before {
  content: "\f05c";
  font-family: "FontAwesome";
}

#container {
  text-align: center;
}

#icon {
  display: block;
  content: url("../img/icon2.png");
  width: 250px;
  height: 250px;
  animation: rotate 1s;
  -webkit-animation: rotate 1s;
}

#title {
  display: block;
  font-size: 20px;
  animation: fade-in 0.5s;
  -webkit-animation: fade-in 0.5s;
}

#mail-text {
  background-color: Highlight;
}

#about {
  background-color: rgba(255, 208, 204, 0.8);
}

#btn-about {
  background-color: #ffbfbb;
}

#btn-about:before {
  position: relative;
  float: left;
  top: 5px;
  left: 10px;
  content: "\f007";
  font-family: "FontAwesome";
}

#btn-blog {
  background-color: #cbffd3;
}

#btn-blog:before {
  position: relative;
  float: left;
  top: 5px;
  left: 7px;
  content: "\f19a";
  font-family: "FontAwesome";
}

#btn-github {
  background-color: #deb887;
}

#btn-github:before {
  position: relative;
  float: left;
  top: 5px;
  left: 10px;
  content: "\f09b";
  font-family: "FontAwesome";
}

#btn-twitter {
  background-color: #8eb8ff;
}

#btn-twitter:before {
  position: relative;
  float: left;
  top: 5px;
  left: 10px;
  content: "\f099";
  font-family: "FontAwesome";
}

#btn-skype {
  background-color: #8ef1ff;
}

#btn-skype:before {
  position: relative;
  float: left;
  top: 5px;
  left: 10px;
  content: "\f17e";
  font-family: "FontAwesome";
}

/* animation */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  99.9%,100% {
    opacity: 1;
  }
}

@keyframes rotate {
  99.9%,100% {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  99.9%,100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  99.9%,100% {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
  }
}

/* media query */
@media screen and (min-width: 481px) {
  .modal-window {
    position: absolute;
    display: none;
    top: -20px;
    left: 50%;
    margin-left: -225px;
    width: 450px;
    height: 250px;
    z-index: 20;
    border: solid;
    box-shadow: 0px 0px 10px #999;
    -webkit-box-shadow: 0px 0px 10px #999;
  }

  .modal-close {
    color: #222;
    text-decoration: none;
  }
}

@media screen and (max-width: 480px) {
  .modal-window {
    position: absolute;
    display: none;
    top: -20px;
    left: 50%;
    margin-left: -165px;
    width: 325px;
    height: 275px;
    z-index: 20;
    border: solid;
    box-shadow: 0px 0px 10px #999;
    -webkit-box-shadow: 0px 0px 10px #999;
  }

  .modal-close {
    position: relative;
    top: -20px;
    color: #222;
    text-decoration: none;
  }
}

@media screen and (max-width: 320px) {
  .modal-window {
    position: absolute;
    display: none;
    top: -20px;
    left: 50%;
    margin-left: -145px;
    width: 280px;
    height: 275px;
    z-index: 20;
    border: solid;
    box-shadow: 0px 0px 10px #999;
    -webkit-box-shadow: 0px 0px 10px #999;
  }

  .modal-close {
    position: relative;
    top: -20px;
    color: #222;
    text-decoration: none;
  }
}
