{
    "presets": [
        [ "@babel/env", {
            "targets": {
                "browsers": [
                    "last 2 versions",
                    "not dead",
                    "not op_mini all"
                ]
            },
            "useBuiltIns": "usage",
            "corejs": 3,
            "modules": false
        }]
    ],
    "plugins": [
        [ "@babel/transform-react-jsx", {
            "pragma": "h",
            "pragmaFrag": "''"
        }]
    ]
}
