@charset "utf-8";

@import url(//fonts.googleapis.com/css?family=Overlock);

// font-awesome
@import "../../node_modules/font-awesome/scss/variables";
$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/path";

/* content */
@mixin button($top, $bg-color, $bd-color, $hl-color, $hl-bd-color, $offset-sec, $icon, $icon-offset) {
    top: $top;
    background: $bg-color;
    border-bottom: solid 4px $bd-color;
    animation: fade-in 0.5s ease-out $offset-sec;
    animation-fill-mode: forwards;

    &:hover {
        background: $hl-color;
        border-bottom: solid 4px $hl-bd-color;
    }

    &:active {
        transform: translateY(4px);
        border-bottom: solid 2px $bd-color;
    }

    &:before {
        left: $icon-offset;
        content: $icon;
    }
}

@mixin modal-window($margin-left, $width, $height) {
    div#container div#modal-window {
        margin-left: $margin-left;
        width: $width;
        height: $height;
    }
}

html {
    display: table;
    margin: 0 auto;
    height: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    background: radial-gradient(#fafafa, #cfd8dc) fixed;
    font-family: "Overlock", sans-serif;
}

div#container {
    position: relative;
    top: -130px;
    text-align: center;

    div#profile {
        img {
            position: relative;
            display: block;
            width: 250px;
            height: 250px;
            top: 100px;
            opacity: 0;
            border: 3px solid rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            box-shadow: 0 0 10px #aeaeae;
            animation: rotate 2s ease 0.2s;
            animation-fill-mode: forwards;
        }

        span {
            position: relative;
            display: block;
            top: -20px;
            opacity: 0;
            font-size: 20px;
            animation: fade-in 1s ease 1.2s;
            animation-fill-mode: forwards;
        }
    }

    div#buttons {
        position: relative;
        left: -5px;

        a {
            position: absolute;
            display: block;
            margin: 8px;
            width: 250px;
            color: #212121;
            opacity: 0;
            font-size: 30px;
            border-radius: 3px;
            text-decoration: none;

            &:before {
                position: absolute;
                top: 5px;
                font-family: "FontAwesome";
            }
        }

        a#about {
            @include button(0px, #e53935, #b71c1c, #ea605d, #c54949, 1.4s, "\f007", 10px);
            cursor: pointer;
        }

        a#blog {
            @include button(48px, #7cb342, #558b2f, #96c267, #76a258, 1.5s, "\f19a", 7px);
        }

        a#github {
            @include button(96px, #a1887f, #6d4c41, #b39f98, #8a6f66, 1.6s, "\f09b", 10px);
        }

        a#twitter {
            @include button(144px, #7986cb, #3949ab, #939ed5, #606dbb, 1.7s, "\f099", 10px);
        }

        a#skype {
            @include button(192px, #039be5, #0277bd, #35afea, #3492ca, 1.8s, "\f17e", 10px);
        }
    }

    div#modal-window {
        position: absolute;
        display: none;
        left: 50%;
        opacity: 0;
        z-index: 20;
        color: #222;
        background: rgba(230, 74, 25, 0.9);
        box-shadow: 0 2px 10px #555;
        border: solid 2px #212121;
        font-family: sans-serif;

        div#modal-text {
            padding: 20px;
            text-align: left;
        }

        a#modal-close {
            cursor: pointer;
        }

        span.hl {
            background: Highlight;
        }
    }

    div.show {
        display: block !important;
        animation: fade-in 0.5s ease-out;
        animation-fill-mode: forwards;
    }
}

/* animation */
@keyframes fade-in {
    100% {
        opacity: 1;
        transform: translate(0, 20px);
    }
}

@keyframes rotate {
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
        transform: translate(0, 0) rotateY(360deg);
    }
    100% {
        opacity: 1;
        transform: translate(0, -100px);
    }
}

/* media query */
@media screen and (min-width: 481px) {
    @include modal-window(-225px, 450px, 250px);
}

@media screen and (max-width: 480px) {
    @include modal-window(-165px, 325px, 250px);
}

@media screen and (max-width: 320px) {
    @include modal-window(-145px, 280px, 275px);
}
